/*This defines Semantic Elements as blocks for older browsers  */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

@font-face {
  font-family: roboto-black;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-black-webfont.ttf);
}
@font-face {
  font-family: roboto-italic;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-italic-webfont.ttf);
}
@font-face {
  font-family: roboto-thin;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-thin-webfont.ttf);
}
@font-face {
  font-family: roboto-thinitalic;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-thinitalic-webfont.ttf);
}

@media (max-width: 600px) {
    body {
      line-height: 22px;
      font-size:12px;
      color:red;
    }
    p {
      color:blue;
    }
}


.twocol {
    column-count: 2;
}

body {
  background-color: grey;
  font-family:sans-serif;
}
/* Navigation bar styles start */



nav {
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    padding-left: 5px;
    text-shadow: 1px 1px 1px #5f2c17;
}
nav ul {
    list-style: none;
    padding: 0px;
}
nav ul li {
    display: block;
}
nav ul li > a {
    text-decoration:none;
}
nav ul li > a:hover {
    text-decoration:underline;
}
.navbar-background {
    background-color: #E70909;
}
/*@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}*/
.navlink {
    height: 35px;
    margin-right: 10px;
    font-size: 18px;
    float: left;
    padding-left:5px;
    padding-right:5px;
    padding-top: 12px;
    color: white;
    text-decoration: none;
}
.navlink.active {
    color: red;
    background-color: white;
}
/* Navigation bar styles end */
